{% extends "layout.html" %}

{% block container %}
    <div class="row">
        {% for component in component_list %}
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="#" class="thumbnail">
                            {% if component.status %}
                                <img src="{{ url_for("static", filename="img/light_on.png") }}"
                                     alt="Light" height="100px" width="100px">
                            {% else %}
                                <img src="{{ url_for("static", filename="img/light_off.png") }}"
                                     alt="Light" height="100px" width="100px">
                            {% endif %}

                        </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ component.name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {{ component.name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 toggle-switch" style="font-size:3em; color:crimson">
                                {% if component.status %}
                                    <i class="fas fa-toggle-on"></i>
                                {% else %}
                                    <i class="fas fa-toggle-off"></i>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}